<div class="close-wrapper"><a href="#"><img src="./assets/css/img/cross.png"></a></div>
	<div class="inner-login">
		
      <h1>Login</h1>
      <form id="login-form" method="post" >
        <p><input type="text" name="username" class="ipt" value="" placeholder="Username or Email" required></p>
        <p><input type="password" name="password" class="ipt" value="" placeholder="Password" required></p>

        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me"  id="remember_me">
            Remember me 
          </label>
        </p>
        <p class="submit"><input class="login-submit" type="image" src="./assets/css/img/btn_login.png" name="commit" value="Login"></p>
      </form>
    </div>