@charset "utf-8";
/* CSS Document */

.blink:link {
color:#2f598d; font-size:11px; font-family:Arial, Helvetica, sans-serif; font-style:normal;
}
.blink:visited {
color:#2f598d; font-size:11px; font-family:Arial, Helvetica, sans-serif; font-style:normal;
}
.blink:hover {
color:#000; font-size:11px; font-family:Arial, Helvetica, sans-serif; font-style:normal;
}
.blink:active {
color:#2f598d; font-size:11px; font-family:Arial, Helvetica, sans-serif; font-style:normal;
}

.maintxt122 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32.5%;
}
.maintxt121 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:29.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:29.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:29.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:29.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:29.5%;
}
.maintxt120 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:33.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:33.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:33.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:33.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:33.5%;
}
.item 
{

	float:left;
	color:#3b3c3c; 
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	
}
.id1 {
	float:left;
	text-align:left;
	margin-left:10%;
	}
.id2 {
	float:left;
	text-align:left;
	margin-left:24%;
	}
.id3 {
	float:left;
	text-align:left;
	margin-left:37.5%;
	}
.id4 {
	floa:left;
	text-align:left;
	margin-left:10%;
}
.id5 {
	float:left;
	text-align:left;
	margin-left:40%;
}
.id6 {
	float:left;
	text-align:left;
	margin-left:27%;
}
.id7 {
	float:left;
	text-align:left;
	margin-left:7%;
}
.id8 {
	float:left;
	text-align:left;
	margin-left:23%;
}
.id9 {
	float:left;
	text-align:left;
	margin-left:3%;
}
.id10 {
	float:left;
	text-align:left;
	margin-left:39.5%;
}
.id11 {
	float:left;
	text-align:left;
	margin-left:30.5%;
}
.id12 {
	float:left;
	text-align:left;
	margin-left:34%;
}
.id13 {
	float:left;
	text-align:left;
	margin-left:30%;
}
.id14 {
	float:left;
	text-align:left;
	margin-left:33%;
}




.maintxt199 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30.5%;
}
.maintxt198 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
}
.maintxt197 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
}
.maintxt196 {
color:#3b3c3c; font-size:12px; 
font-family:Arial, Helvetica, sans-serif; 
float:left;
margin-left:30%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:30%;
}
.maintxt195 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:44.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:44.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:44.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:44.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:44.5%;
}
.maintxt194 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:42%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:42%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:42%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:42%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:42%;
}
.maintxt193 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:40%;
}
.maintxt192 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
}
.maintxt191 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
}
.maintxt190 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
}
.maintxt189 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28%;
}
.maintxt188 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
}
.maintxt187 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
}
.maintxt186 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36.5%;
}
.maintxt185 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:31%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:31%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:31%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:31%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:31%;
}
.maintxt184 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24%;
}
.maintxt183 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:25%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:25%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:25%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:25%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:25%;
}
.maintxt182 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:32%;
}
.maintxt10 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:18.5%;
}
.maintxt13 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:11%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:11%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:11%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:11%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:11%;
}
.maintxt14 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:6%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:6%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:6%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:6%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:6%;
}
.maintxt15 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:17.7%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:17.7%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:17.7%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:17.7%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:17.7%;
}
.maintxt16 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:24.5%;
}
.maintxt17 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28.5%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28.5%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28.5%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28.5%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:28.5%;
}
.maintxt19 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:34%;
}
.maintxt20 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:21%;
}
.maintxt21 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:37%;
}
.maintxt111 {
color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36%;
moz-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36%;
-o-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36%;
-ms-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36%;
-webkit-transform: color:#3b3c3c; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:left; margin-left:36%;
}